body {
    /* background-image: url("../Images/test\ bkg\ 3.png");
    background-size: cover;  */
    background: linear-gradient(-45deg, rgb(233, 190, 61), rgb(250, 194, 80), #fffa62, #ffff7c,rgb(255,255,255));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    font-family: myFont;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
    font-size: 10em;
}
@font-face {
    font-family: myFont;
    src: url(../Fonts/SF-Pro-Display-Semibold.ttf);
}
@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: rgb(234, 158, 5) !important; }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
    .navbar .btn:hover{ background-color: rgb(234, 158, 5) !important; }
}	
.navbar {
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    font-size: 1.2rem;
}
.dropdown-item:active {
    background-color: rgb(234, 158, 5) !important;
}
.navbar-brand:hover {
    transition: 0.3s;
    opacity: 0.5;
}
.navbar-brand {
    transition: 0.3s;
    opacity: 1;
}
.dropdown-toggle::after {
    content: none;
}