body {
    background-image: url("../Images/Background.jpg");
    background-size: cover; 
    font-family: myFont;
}
h1 {
    font-size: 10em;
}
@font-face {
    font-family: myFont;
    src: url(../Fonts/SF-Pro-Display-Semibold.ttf);
}
@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: rgb(234, 158, 5) !important; }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
    .navbar .btn:hover{ background-color: rgb(234, 158, 5) !important; }
}	